{% macro model_begin(translation_domain) %}
    <div class="well">
{% endmacro model_begin %}

{% macro model_end() %}
    </div>
{% endmacro model_end %}

{% macro model_row_begin(id, domain) %}
<div class="row-fluid">
    <strong class="span2 model-property">{{ id | trans({}, domain) }}: </strong>
    <span class="span10 model-value">
{% endmacro model_row_begin %}

{% macro model_row_end(id) %}
    </span>
</div>
{% endmacro model_row_end %}

{% macro model_row(id, data, domain) %}
    {{ _self.model_row_begin(id, domain) }}
        {{ data|raw }}
    {{ _self.model_row_end() }}
{% endmacro model_row %}

{% macro link(route, routeParams, label, domain, translate_params) %}
    {%- if translate_params is empty %}
        {%- set translate_params = {} %}
    {% endif %}
    <a href="{{ path(route, routeParams) }}" id="{{ route }}">
        {{ label|trans(translate_params, domain) }}
    </a>
{% endmacro link %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not sameas(false) -%}
            {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro attributes %}

{# sidebar block begin #}
{% macro begin() %}
        <div>
{% endmacro begin %}

{# sidebar block end #}
{% macro end() %}
        </div>
{% endmacro end %}

{% macro date_time(date_string, format) %}
    {%- if date_string is empty %}
        -
    {%- else -%}
        {%- if format is empty %}
            {% set format = 'd.m.Y H:i:s' %}
        {%- endif -%}
        {{ date_string|date(format) }}
    {%- endif -%}
{% endmacro date_time %}

{% macro date_short(date_string) %}
    {{ _self.date_time(date_string,'d.m.Y') }}
{% endmacro date_short %}

{% macro date_time_short(date_string) %}
    {{ _self.date_time(date_string) }}
{% endmacro date_time_short %}

