{% macro key_value(translation_domain, list) %}
    <dl>
        {% for id, value in list %}
        <dt>{{ id | trans({}, translation_domain)  }}</dt>
        <dd>{{ value }}</dd>
        {% endfor %}
    </dl>
{% endmacro key_value %}

{% macro link(route, routeParams, label, translationalDomain) %}
<a href="{{ path(route, routeParams) }}" id="{{ route }}">
    {{ label|trans([], translationalDomain) }}
</a>
{% endmacro link %}
