{% macro key_value(translation_domain, list) %}
    <dl>
        {% for id, value in list %}
        <dt>{{ id | trans({}, translation_domain)  }}</dt>
        <dd>{{ value }}</dd>
        {% endfor %}
    </dl>
{% endmacro %}

{% macro action_group(translationalDomain, actions_data) %}
<ul class="nav nav-list">
    {% for item in actions_data %}
    <li>
        {{ _self.link(item.route, item.routeParams, item.label, translationalDomain) }}
    </li>
    {% endfor%}
</ul>
{% endmacro %}

{% macro link(route, routeParams, label, translationalDomain) %}
    <a href="{{ path(route, routeParams) }}">
        {{ label|trans([], translationalDomain) }}
    </a>
{% endmacro %}