{% macro key_value(translation_domain, list) %}
    <dl>
        {% for id, value in list %}
        <dt>{{ id | trans({}, translation_domain)  }}</dt>
        <dd>{{ value }}</dd>
        {% endfor %}
    </dl>
{% endmacro key_value %}

{% macro link(route, routeParams, label, domain, translate_params) %}
    {%- if translate_params is empty %}
        {%- set translate_params = {} %}
    {% endif %}
    <a href="{{ path(route, routeParams) }}" id="{{ route }}">
        {{ label|trans(translate_params, domain) }}
    </a>
{% endmacro link %}
