{% macro flash(type, message, close, use_raw) %}
    <div class="alert alert-{{ type }}" data-alert="alert">
        {% if close|default(true) %}
            <a class="close" data-dismiss="alert" href="#">×</a>
        {% endif %}

        {% if message is not iterable %}
            {% set message  = {message: message, domain: 'messages', params: {}} %}
        {% endif %}

        {% set msg = message.message|trans(message.params, message.domain) %}

        {% if use_raw|default(false) %}
            {{ msg|raw }}
        {% else %}
            {{ msg }}
        {% endif %}
    </div>
{% endmacro %}

{% macro flash_error(message, close, user_raw) %}
    {{ _self.flash('error', message, close, user_raw) }}
{% endmacro %}

{% macro flash_warning(message, close, user_raw) %}
    {{ _self.flash('warning', message, close, user_raw) }}
{% endmacro %}

{% macro flash_success(message, close, user_raw) %}
    {{ _self.flash('success', message, close, user_raw) }}
{% endmacro %}

{% macro flash_info(message, close, user_raw) %}
    {{ _self.flash('info', message, close, user_raw) }}
{% endmacro %}

{% macro session_flash(type, close, use_raw, class) %}
    {% if type is not empty %}
        {% set types = [type] %}
    {% else %}
        {% set types = ['info', 'error', 'warning', 'success'] %}
    {% endif %}
    {% if close is not defined %}
        {% set close = false %}
    {% endif %}
    {% if use_raw is not defined %}
        {% set use_raw = false %}
    {% endif %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type in types %}
            {% if app.session.flashbag.has(type) %}
                {% for message in app.session.flashbag.get(type) %}
                    {{ _self.flash(type, message, close, use_raw) }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
