{% block fos_user_login_form_inline %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="text" id="username" class="input-medium" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" name="_username" value="{{ last_username }}" />
    <input type="password" id="password" class="input-medium" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" name="_password" />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <input type="submit" class="btn "id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_login_form_inline %}

{% block fos_login_block %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}
{% endblock fos_login_block %}

