{% extends 'MillwrightBoilerplateBundle::layout.html.twig' %}

{#
    Render css
#}
{% block stylesheets %}
{{ parent() }}

{% stylesheets
    filter='cssembed,?yui_css'
    output="css/jquery.ui.min.css"
    'bundles/millwrighttwitterbootstrap/jquery.ui/css/custom-theme/jquery-ui-1.9.0.custom.css'
%}
{% include 'MillwrightBoilerplateBundle::css.html.twig' with {'css': asset_url } %}
{% endstylesheets %}
{% endblock stylesheets %}

{% stylesheets
    filter='lessphp,cssembed,?yui_css'
    output="css/bootstrap.min.css"
    'bundles/millwrighttwitterbootstrap/bootstrap/less/bootstrap.less'
    'bundles/millwrighttwitterbootstrap/custom/less/custom.less'
    'bundles/millwrighttwitterbootstrap/bootstrap/less/responsive.less'
%}
{% include 'MillwrightBoilerplateBundle::css.html.twig' with {'css': asset_url } %}
{% endstylesheets %}

{#
    render js
#}
{% block javascripts %}
{{ parent() }}
{%- javascripts
    filter='?yui_js'
    output="js/core.min.js"
    'bundles/millwrighttwitterbootstrap/bootstrap/jquery.ui/js/bootstrap-alert.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-alert.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-button.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-carousel.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-collapse.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-dropdown.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-modal.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-scrollspy.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-tab.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-tooltip.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-popover.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-transition.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-typeahead.js'
-%}
{% include 'MillwrightBoilerplateBundle::js.html.twig' with {'js': asset_url } %}

{% endjavascripts %}
{% endblock javascripts %}

{% block navbar_wrapper %}
    <nav id="page-navbar" role="navigation" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div>{{ block('navbar_top') }}</div>
                <div>
                {{ block('navbar_markup') }}
                </div>
            </div> <!-- /container -->
        </div> <!-- /navbar-inner -->
    </nav> <!-- /page-navbar -->
{% endblock navbar_wrapper %}

{% block navbar_markup %}
    {{ block('navbar_buttons') }}
    <a class="brand" href="{{ path('homepage') }}">{{ block('project_name') }}</a>
    <div class="nav-collapse collapse">
        {% set navbar_text = block('navbar_text') %}
        {% if navbar_text is not empty %}
            <p class="navbar-text pull-right">{{ navbar_text|raw }}</p>
        {% endif %}
        {{ block('navbar_menu') }}
    </div>
{% endblock navbar_markup %}

{#
    .btn-navbar is used as the toggle for collapsed navbar content
#}
{% block navbar_buttons %}

    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
{% endblock navbar_buttons %}

{% block header_markup %}
<header id="page-header">
    {{ block('header_top') }}
    {{ block('navbar_wrapper') }}
    {{ block('header') }}
    {{ block('header_bottom') }}
</header> <!-- /page-header -->
{% endblock header_markup %}

{% block footer_markup %}
<footer id="page-footer">
    {{ block('footer') }}
</footer>
{% endblock footer_markup %}

{% block title %}{{ block('content_title') }}{% endblock title %}

{% block content_header %}
<header id="content-header">
    <!-- <h1 id="content-title">{{ block('content_title') }}</h1> -->
    <p id="content-description">
        {{ block('content_description') }}
    </p> <!-- /content-desdcription -->
</header> <!-- /content-header -->
{% endblock content_header %}

{% block messages %}
    {% from 'MillwrightTwitterBootstrapBundle::flash.html.twig' import session_flash %}
    {{ session_flash() }}
{% endblock messages %}

{% block content_markup %}
    {{ block('content_header') }}
    {{ block('content_breadcrumbs') }}
    {{ block('messages') }}
    {{ block('content_actions') }}
    {{ block('content_secondary_actions') }}
    {{ block('content') }}
{% endblock content_markup %}

{% block sidebar_primary %}
    {{- block('secondary_links') -}}
    {{- block('search') -}}
{% endblock sidebar_primary %}

{% block layout_two_column_sidebar_left %}
    <section id="page-content" class="container-fluid sidebar-left">
        <div class="row-fluid">
            {% set sidebar_primary =  block('sidebar_primary') %}
            {% set content_class = "" %}

            {% if sidebar_primary is not empty %}
                {% set content_class = "span9 " %}
                <aside id="sidebar-primary" role="complementary" class="span3 sidebar">
                    {{ sidebar_primary|raw }}
                </aside> <!-- /sidebar-primary -->
            {% endif %}

            <section id="content" role="main" class="{{ content_class }}content">
                {{ block('content_markup') }}
            </section> <!-- /content -->
        </div>
    </section> <!-- /page-content -->
{% endblock layout_two_column_sidebar_left %}

{% block body %}
    {{ block('header_markup') }}
    {{ block('layout_two_column_sidebar_left') }}
    {{ block('footer_markup') }}
{% endblock body %}
