{% extends 'MillwrightBoilerplateBundle::layout.html.twig' %}
{% block stylesheets %}
{% stylesheets
    filter='less,cssembed,?yui_css'
    output="css/bootstrap.min.css"
    'bundles/millwrighttwitterbootstrap/bootstrap/less/bootstrap.less'
    'bundles/millwrighttwitterbootstrap/custom/less/custom.less'
    'bundles/millwrighttwitterbootstrap/bootstrap/less/responsive.less'
%}
{% include 'MillwrightBoilerplateBundle::css.html.twig' with {'css': asset_url } %}
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{%- javascripts
    filter='?yui_js'
    output="js/core.min.js"
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-alert.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-button.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-carousel.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-collapse.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-dropdown.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-modal.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-scrollspy.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-tab.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-tooltip.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-popover.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-transition.js'
    'bundles/millwrighttwitterbootstrap/bootstrap/js/bootstrap-typeahead.js'
-%}
{% include 'MillwrightBoilerplateBundle::js.html.twig' with {'js': asset_url } %}
{% endjavascripts %}
{% endblock javascripts %}

{% block header_markup %}
<header id="page-header">
    {{ block('navbar_wrapper') }}
    {{ block('header') }}
</header> <!-- /page-header -->
{% endblock header_markup %}

{% block footer_markup %}
<footer id="page-footer">
    {{ block('footer') }}
</footer>
{% endblock footer_markup %}

{% block content_header %}
<header id="content-header">
    <h1 id="content-title">{{ block('content_title') }}</h1>
    <p id="content-description">
        {{ block('content_description') }}
    </p> <!-- /content-desdcription -->
</header> <!-- /content-header -->
{% endblock content_header %}

{% block messages %}
    {% from 'MillwrightTwitterBootstrapBundle::flash.html.twig' import session_flash %}
    {{ session_flash() }}
{% endblock messages %}

{% block content_markup %}
    {{ block('content_header') }}
    {{ block('content_breadcrumbs') }}
    {{ block('messages') }}
    {{ block('content_actions') }}
    {{ block('content_secondary_actions') }}
    {{ block('content') }}
{% endblock content_markup %}

{% block layout_two_column %}
<div class="row-fluid">
    <aside id="sidebar-primary" role="complementary" class="span3 sidebar">
        {{ block('sidebar_primary') }}
    </aside> <!-- /sidebar-primary -->

    <section id="content" role="main" class="span9 content">
        {{ block('content_markup') }}
    </section> <!-- /content -->
</div>
{% endblock layout_two_column %}

{% block page_header_footer_sidebar_left %}
    {{ block('header_markup') }}
    <section id="page-content" class="container-fluid sidebar-left">
        {{ block('layout_two_column') }}
    </section> <!-- /page-content -->
    {{ block('footer_markup') }}
{% endblock page_header_footer_sidebar_left %}

{% block page_header_footer_sidebar_right %}
    {{ block('header_markup') }}
    <section id="page-content" class="container-fluid sidebar-right">
        {{ block('layout_two_column') }}
    </section> <!-- /page-content -->
    {{ block('footer_markup') }}
{% endblock page_header_footer_sidebar_right %}

{% block sidebar_primary %}
    {{ block('search') }}
{% endblock sidebar_primary %}
