{% block navbar_wrapper %}
<nav id="page-navbar" role="navigation" class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
        {{ block('navbar_markup') }}
        </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
</nav> <!-- /page-navbar -->
{% endblock navbar_wrapper %}

{% block navbar_markup %}
    {{ block('navbar_buttons') }}
    <a class="brand" href="{{ path('homepage') }}">{{ block('project_name') }}</a>
    {{ block('navbar_projectname') }}
    {{ block('navbar_menu') }}
    <p class="navbar-text pull-right">
        {{ block('navbar_text') }}
    </p>
{% endblock navbar_markup %}

{% block navbar_buttons %}
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
{% endblock navbar_buttons %}

{% block fos_user_login_form_inline %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="text" id="username" class="input-small span2" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" name="_username" value="{{ last_username }}" />
    <input type="password" id="password" class="input-small" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" name="_password" />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <input type="submit" class="btn "id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_login_form_inline %}

{% block fos_login_block %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}
{% endblock fos_login_block %}

